<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD94n6P-9Jwl7-0TeZa2iUXSXw1n9pUEs4</string>
	<key>GCM_SENDER_ID</key>
	<string>499408192380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokemonApi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobile-dev-e5b60</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-dev-e5b60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499408192380:ios:ca22d765c7b451a3845af9</string>
</dict>
</plist>